@{
    ViewBag.Title = "Home";
}

<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">¿Cómo funcionamos?</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        <p>Este sitio surge de una necesidad que todos tenemos y que padecemos cada vez que necesitamos buscar trabajo: ¿Cuántas veces te quedaste con la mente en blanco, mirando el Word sin saber cómo comenzar a elaborar tu <strong>CV</strong>?</p>
                        <p>Al menos si tu respuesta no fue <strong>cero</strong>, sos de los nuestros.</p>
                        <p>Somos un grupo de desarrolladores altamente capacitados, y que sin embargo sufrimos de una importantísima pereza a la hora de mantener nuestros CVs actualizados. <strong>Tanto, que preferimos programar este sitio antes que seguir realizando y manteniendo nuestros CVs a mano. En serio, es horrible: Cada vez que lo necesitamos está desactualizado y ponerse a escribir... dar formato... revisar errores... (ah, y <i>para hoy por favor</i>) uff!</strong></p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-3">

                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Es muy fácil</h3>
                        <div class="iconbox-desc">
                            Primero, te registrás en un minuto. No necesitás confirmar tu email ni te vamos a enviar publicidad, no hay gato encerrado. Usuario, Pass... listo, estás adentro.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Ingresás a tu cuenta</h3>
                        <div class="iconbox-desc">
                            Verás tu información personal básica, y podrás agregar todo lo que desees: Tu foto, historial académico, títulos, trabajos anteriores... así podremos armar tu CV, pieza por pieza.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-credit-card"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Pagás AR$ 10 por cualquier medio de pagos en Argentina</h3>
                        <div class="iconbox-desc">
                            <p>Sí, ya sabemos. Parece mentira, pero sólo cobramos AR$ 10 por el servicio. <strong>No agregamos publicidad en tu CV ni hay ningún truco escondido. Tu CV es tuyo.</strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-disc"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Descargás tu CV en PDF o DOC</h3>
                        <div class="iconbox-desc">
                            No te preocupes, si te diste cuenta que te faltó agregar información (SIEMPRE sucede) podés volver a este sitio, agregar o modificar lo que te faltó, y volver a descargarlo <strong>todas las veces que necesites.</strong>
                        </div>
                    </div>
                </div>

            </div>

        </div><!-- .row -->


        <div class="row">

            <div class="col-sm-12">

                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Ah, hay que pagar AR$ 10...</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        <p>En <strong>Applied Chaos</strong> (así nos llamamos) creemos que siempre es mejor pagar (poquísimo) por un servicio de calidad. A cambio, tenés un grupo de personas que saben lo que hacen y se comprometen a ayudarte si tenés cualquier duda o problema.</p>
                        <p>Existen sitios que lo hacen gratis, y entregan un archivo PDF con <strong>publicidad del servicio que no podés quitar</strong> y que te hace pasar vergüenza a la hora de presentar el CV. <strong>Digo, por si AR$ 10 te pareció mucho, fijate...</strong></p>
                        <p>Recordá que este sitio nace y vive en <span style="background-color: gray"><strong style="color: lightblue">Arg<strong style="color:white">ent</strong>ina</strong></span>, o sea que AR$ 10 significa diez pesos argentinos. No te preocupes si sos de otro país, la plataforma de pagos realizará la conversión de manera automática. (Es <strong>menos de U$S 1</strong>)</p>
                        <p>El pago es por <strong><a href="https://www.mercadopago.com.ar/" target="_blank">Mercado Pago</a></strong>. Esto significa que podés pagar en el acto con cualquier tarjeta de crédito, el servicio es tan barato que no te van a retener con validaciones telefónicas: Sin demoras. Pero si no tenés tarjeta de crédito, no hace falta que imprimas nada. Con el código que recibís por email, podés pagar en cualquier RapiPago, Pago Fácil, etc.</p>
                    </div>
                </div>

            </div>

        </div><!-- .row -->

    </div><!-- .container -->
</section>


<!-- Skills end -->
<!-- CallToAction start -->

<section class="calltoaction">
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
                <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                    I'm available for freelance projects.
                </div>
            </div>

            <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
                <a href="#contact" class="btn btn-lg">Hire Me</a>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- CallToAction end -->

<!-- Contact start -->

<section id="contact" class="pfblock">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                <div class="pfblock-header">
                    <h2 class="pfblock-title">Drop me a line</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
                    </div>
                </div>

            </div>

        </div><!-- .row -->

        <div class="row">

            <div class="col-sm-12">

                <form id="contact-form" role="form">
                    <div class="ajax-hidden">
                        <div class="form-group wow fadeInUp">
                            <label class="sr-only" for="c_name">Name</label>
                            <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                            <label class="sr-only" for="c_email">Email</label>
                            <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
                        </div>

                        <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                            <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
                    </div>
                    <div class="ajax-response"></div>
                </form>

            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>